* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.div-container {
  width: 100%;
  max-width: 390px;
  min-width: 300px;
  max-height: 100vh;
}

.logo {
  width: 8rem;
}

.bg-yellow {
  background-color: #ffde59 !important;
  border: #ffde59 !important;
  color: black !important;
}

.bg-yellow:hover {
  background-color: #f8ce25 !important;
  border: #f8ce25 !important;
  color: black !important;
}

.btn-primary {
  background-color: #fe904c !important;
  border: #fe904c !important;
}

.btn-primary:hover {
  background-color: #fd741f !important;
  border: #fd741f !important;
}

img,
button,
a {
  -webkit-user-drag: none;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  box-shadow: 0px 0px 10px 0px #fd741f !important;
  border: 1px solid #fd741f !important;
}

.form-check-input:checked[type=checkbox] {
  background-color: #fd741f;
  border-color: #fd741f;
}

h1 {
  font-size: 1.875rem !important;
}

a {
  text-decoration: none !important;
  padding: .5rem 1rem;
}

button {
  padding: 0 !important;
}

.confirm-pass {
  border-color: var(--bs-form-invalid-border-color) !important;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/></svg>") !important;
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

i {
  width: 1.25rem;
  height: 1rem;
}

.input-pass {
  flex: 1 0 85%;
}

.input-icon {
  flex: 1 0;
  cursor: pointer;
}

.input-feedback {
  flex: 1 0 100%;
}


/****** HOME *******/

header i.fa-gear,
header i.fa-message {
  width: 1.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fd741f;
  transition: .2s ease-in-out;
  transform: rotateY(180deg);
}

header i.fa-gear:hover,
header i.fa-message:hover {
  color: #ce4f00;
}

#cards-container {
  height: 100%;
  max-height: 32rem;
  min-height: 10rem;
}

#cards-container .card {
  transition: transform .05s ease, opacity .05s ease;
}

.card .card-img-container {
  height: 100%;
}

.card-img-container .bullets .bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.card-img-container .bullets .bullet.bullet-active {
  background-color: gray;
  border: 1px solid white;
}

.card .card-img-container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: .35rem;
  opacity: 0;
  pointer-events: none;
}

.card-img-container img.img-active {
  opacity: 1;
  pointer-events: all;
}

#cards-container .card-body {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7567401960784313) 37%, rgba(0, 0, 0, 0.40940126050420167) 75%, rgba(0, 0, 0, 0) 100%);
  height: 10rem;
  color: white;
}

#buttons-actions {
  height: 4rem;
}

#footer-actions{
  height: 3rem;
  background-color: blue;
}

#buttons-actions > div{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  transition: .2s ease-in-out;
}

#buttons-actions > div:hover{
  filter: brightness(1.2);
}

#buttons-actions #button-superlike{
  background-color: #c9a40f;
  width: 70px;
  height: 70px;
  font-size: 25px;
}

#buttons-actions #button-like{
  background-color: #ce580e;
  font-size: 40px;
}

#buttons-actions #button-dislike{
  background-color: #bb0303;
  font-size: 50px;
}

@media screen and (max-width: 768px){
  #buttons-actions > div:hover{
    filter: none;
  }

  #buttons-actions > div:active{
    filter: brightness(1.2);
  }
}